<!DOCTYPE html>
<html>
<head>
    <title>User Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <a href="{{ url_for('logout') }}" class="btn btn-danger float-end">Logout</a>

</head>
<body class="p-5">
    <h2 class="mb-4">Welcome, {{ current_user.username }}!</h2>

    {% if reservation %}
        <div class="alert alert-info">
            <h4>You have reserved Spot {{ reservation.spot.id }}</h4>
            <p>Lot: {{ reservation.spot.lot.prime_location_name }}</p>
            <p>Start time: {{ reservation.start_time }}</p>
            <a href="{{ url_for('release_spot') }}" class="btn btn-danger mt-2">Release Spot</a>
        </div>
    {% else %}
        <h4>Reserve a Parking Spot</h4>
        <form method="POST" class="mb-4">
            <select name="lot_id" class="form-select mb-2" required>
                {% for lot in lots %}
                    <option value="{{ lot.id }}">{{ lot.prime_location_name }} - ₹{{ lot.price }}/hr</option>
                {% endfor %}
            </select>
            <button class="btn btn-success" type="submit">Book First Available Spot</button>
        </form>
    {% endif %}
</body>
</html>
